
<!DOCTYPE html>
<html >
    <head>
        <meta charset="UTF-8">
        <title>Vapor-Elm Chat</title>

        <link rel="stylesheet" href="styles/normalize.css">
        <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans'>
        <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.3/jquery.mCustomScrollbar.min.css'>
        <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.css'>
        <link rel="stylesheet" href="styles/style.css">
    </head>

    <body>

    <!--
        DESIGN ORIGINATED:

        Follow me on
        Dribbble: https://dribbble.com/supahfunk
        Twitter: https://twitter.com/supahfunk
        Codepen: http://codepen.io/supah/

        It's just a concept, a fake chat to design a new daily UI for direct messaging.
        Hope you like it :)

    -->
    <div id="main"></div>

    <script src="scripts/elm.js"></script>
    <script>
        Elm.Main.embed(document.getElementById("main"));
    </script>

</body>
</html>
